---
import Layout from "../../components/layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const docs = await getCollection("moduleCollection");

    return docs.map((module) => {
        const [moduleId, lectureId] = module.slug.split("/");
        return {
            params: { moduleId, lectureId },
            props: module
        };
    });
}

type Props = CollectionEntry<"moduleCollection">;
const props = Astro.props;

const { Content } = await props.render();
---

<Layout>
    <div class="prose mx-auto my-4 text-primary-content">
        <h1>{props.data.title}</h1>
        <Content />
    </div>
</Layout>
