---
import Layout from "../../components/layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

// generating all of the lecture note pages
export async function getStaticPaths() {
    const docs = await getCollection("moduleCollection");

    return docs.map((module) => {
        const [moduleId, lectureId] = module.slug.split("/");
        return {
            params: { moduleId, lectureId },
            props: module
        };
    });
}

type Props = CollectionEntry<"moduleCollection">;
const props = Astro.props;

const { Content, headings } = await props.render();
---

<Layout>
    <div
        class="prose mx-auto my-4 max-w-3xl p-6 text-primary-content [&>ol>li>ol]:!list-[lower-alpha] [&>ol>li>ol>li>ol]:!list-[lower-roman]"
    >
        <h1>{props.data.title}</h1>
        <Content />
    </div>
</Layout>
