---
import SearchBar from "./search.svelte";
const params = Astro.params;
---

<div class="navbar sticky top-0 z-50 bg-base-200 pr-10 text-base-content">
    <a href="/" class="btn btn-ghost hidden text-xl normal-case md:inline-flex"
        >Revision Bollocks</a
    >
    <SearchBar />
    <div class="breadcrumbs ml-auto text-sm">
        <ul>
            <li><a href="/">home</a></li>
            <li>
                <a
                    class={!!params?.moduleId ? "uppercase" : ""}
                    href={`/${params?.moduleId || ""}`}
                    >{params?.moduleId || "No module selected"}</a
                >
            </li>
            {params?.moduleId && <li>{params?.lectureId || "No page selected"}</li>}
        </ul>
    </div>
</div>
